nav {
  text-align: right;
  margin: 0;
  padding: 10px;
}

ul {
  padding-left: 30px;
}

li {
  display: inline;
  padding: 0 10px 0 0;
}

#grid-icon {
  width: 30px;
  height: 30px;
}

body {
  font-size: 13px;
  font-family: arial, sans-serif;
}

#googlelogo {
  padding-top: 109px;
}

main {
  text-align: center;
}

input {
  width: 580px;
  height: 42px;
  border: 1px solid;
  border-color: lightgrey;
  border-radius: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#boxes {
  margin: 15px 4px;
  padding: 0 16px;
}

.button {
  margin: 0 20px 0 0;
  padding: 10px 15px;
  background-color: rgb(238, 238, 238);
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.button:hover {
  border: 1px solid;
  border-radius: 5px;
  border-color: lightgray;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  background-color: rgb(238, 238, 238);
  color: grey;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgray;
  z-index: -1;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(238, 238, 238);
  border-top: 1px solid lightgray;
}

footer p {
  display: block;
  font-size: 15px;
  padding-left: 30px;
}

a {
  text-decoration: none;
  color: black;
  padding-right: 15px;
}

footer a {
  color: gray;
}

a:hover {
  text-decoration: underline;
}
